* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #09179c, rgb(160, 68, 52));
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    margin-bottom: 40px;
    color: azure;
}

h2 {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    margin-bottom: 40px;
    color: azure;
}

p {
    display: flex;
    justify-content: center;
}